:root {
  --radius: 15px;
  --app-width: 600px;
  --color-main: #5452ee;
  --color-primary: #e73c7e;
  --color-secondary: #23a6d5;
  --color-tertiary: #ffff;
}

@keyframes hi {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  background: linear-gradient(
    -45deg,
    var(--color-main),
    var(--color-primary),
    var(--color-secondary),
    var(--color-tertiary)
  );
  background-size: 300% 300%;
  animation: gradient 15s ease infinite;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

img {
  margin: 0 auto;
  display: block;
  margin-bottom: 28px;
}

.app {
  color: #ffffffb0;
  background-color: #ffffff23;
  width: var(--app-width);
  border-radius: var(--radius);
  padding: 2rem;
  box-shadow: 0 15px 40px -20px black;
}

.app h1 {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 28px;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
}

.todo-input {
  width: 100%;
  margin-bottom: 2rem;
  border: none;
  border-radius: inherit;
  padding: 1rem 1.5rem;
  font-size: 20px;
  background-color: #f4f4f425;
  color: white;
}

.todo-input::placeholder {
  color: #ffffff90;
}

.todos,
.completed-todos,
.uncompleted-todos {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.todo-item {
  background-color: #f4f4f4bd;
  padding: 1rem 1.5rem;
  border-radius: var(--radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.todo-item span {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.todo-item input[type="checkbox"] {
  width: 22px;
  height: 22px;
  accent-color: lime;
}

.todo-item a {
  color: #555;
}

.todo-item a svg {
  pointer-events: none;
}

.completed-todos .todo-item {
  background-color: #2ecc71;
  text-decoration: line-through;
}

.completed-title {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  img {
    width: 80%;
  }
  .app {
    width: 100%;
  }

  .app h1 {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .app {
    width: 100vw;
    height: 100vh;
  }

  img {
    margin-top: 50%;
  }
}
